<html>
  <head>
    <style>
    body{
      background: <%= color %>;
    }
    </style>
  </head>
  <body>
    <p>
      Please enter a guess between 0 and 100. <br>
      <form>
        <input type='text' name='guess' />
        <input type='submit' value='Guess!' />
      </form>
      <%= message %>
    </p>
  </body>
</html>
